---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1481733851'
      Etag:
      - W/"3053e5988e4cb93f62a1b39a339d9d6a"
      Last-Modified:
      - Thu, 03 Nov 2016 21:20:02 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"facebook","id":69631,"avatar_url":"https://avatars.githubusercontent.com/u/69631?v=3","gravatar_id":"","url":"https://api.github.com/users/facebook","html_url":"https://github.com/facebook","followers_url":"https://api.github.com/users/facebook/followers","following_url":"https://api.github.com/users/facebook/following{/other_user}","gists_url":"https://api.github.com/users/facebook/gists{/gist_id}","starred_url":"https://api.github.com/users/facebook/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/facebook/subscriptions","organizations_url":"https://api.github.com/users/facebook/orgs","repos_url":"https://api.github.com/users/facebook/repos","events_url":"https://api.github.com/users/facebook/events{/privacy}","received_events_url":"https://api.github.com/users/facebook/received_events","type":"Organization","site_admin":false,"name":"Facebook","company":null,"blog":"https://code.facebook.com/projects/","location":"Menlo
        Park, California","email":null,"hireable":null,"bio":"We work hard to contribute
        our work back to the web, mobile, big data, & infrastructure communities.
        NB: members must have two-factor auth.","public_repos":170,"public_gists":12,"followers":0,"following":0,"created_at":"2009-04-02T03:35:22Z","updated_at":"2016-11-03T21:20:02Z"}'
  recorded_at: Wed, 14 Dec 2016 16:29:31 GMT
recorded_with: VCR 2.9.3
