---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:47 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9991'
      X-Ratelimit-Reset:
      - '3566'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Mon, 07 Dec 2015 13:57:11 GMT
recorded_with: VCR 2.5.0
